
@import "~bootstrap/scss/bootstrap";

.imagenCentro{
    background-color: white;
}
body{
    background: #1c1c1c;
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p,th{
    color: white;
}
label{
    color: black;
}
h5{
    color: black;
}
tr{
    color: white;
}
span{
    color: white;
}